<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="script" type="text/script" href="{{ url_for('scripts', filename='mainscr.js') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
    <div class="frontbar">
        <!--<button type="submit" class="text1">Home</button>-->
        <div class="main">Sign in</div>
        <div class="hamburger" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="menu" id="menu">
        <a class="odkaz" href="/home">Home</a>
        <a class="odkaz" href="/books">Books</a>
        <a class="odkaz" href="/sign_up">Sign up</a>
        <a class="odkaz" href="/log_in">Log in</a>
    </div>
    <script>
        function toggleMenu() {
            const menu = document.getElementById('menu');
            menu.style.display = menu.style.display === 'flex' ? 'none' : 'flex';
        }
    </script>
</body>
</html>