<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if left_png and right_png %}
        <img src="{{ url_for('static', filename='images/th-2380475662.jpg') }}" alt="Image 1">
        <img style="margin-left: 50%;" src="{{ url_for('static', filename='images/th-3777423010.jpg') }}" alt="Image 2">
    {% elif left_png %}
        <img src="{{ url_for('static', filename='images/th-2380475662.jpg') }}" alt="Image 1">
    {% elif right_png %}
        <img style="margin-left: 75%;" src="{{ url_for('static', filename='images/th-3777423010.jpg') }}" alt="Image 2">
    {% elif text %}
        <h3>{{ text }}</h3>
    {% endif %}
</body>
</html>